/* HEADER */
header{
    background: #38B6FF;
    text-align: left;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    /* height: 11.5vh; */
    min-height: 11.5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.naver{
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-naver{
    /* background: yellow; */
    width: 30%;
    min-width: 100px;
    text-align: center;
}

.logo-naver img{
    width: 70px;
    /* width: 65%; */
}

.redes-naver{
    /* background: red; */
    width:40%;
    min-width: 141px;
        
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redes-naver img{
    margin-left: 3%;
    width: 40px;
}

.carrito-pedido{
    text-align: center;
    min-width: 100px;
    /* width: 30%; */
}

.carrito-pedido img{
    width: 50px;
    /* width: 30%; */
}

.carrito-pedido button{
    background: #38B6FF;
    outline:none;
    border: none;
}


