.pedido-tiket{
    display: none;
    background: #fff;
    position: fixed;
    top: 0;
    /* width: 100vw; */
    /* width: 360px; */
    width: 100%;
    height: calc(100% - 71px);
    z-index: 100;
    margin-top: 71px;
}

.Active{
    display: block;
}

.container-tiket{
    height: 99%;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabecera-tiket{
    background: #2F353A;
    color: #fff;
    width: 100%;
    min-height: 43px;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-tiket-scroll{
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.descripcion-tiket{
    width: 100%;
    height: 82px;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcion-tiket hr{
    width: 90%;
}

.total-tiket{
    width: 90%;
    padding: 0.6em;
    text-align: right;
}

.total-tiket span{
    margin-right: 20%;
}

.butt{
    width: 90%;
    height: 2.5em;
}

.button-tiket{
    background: #2F353A;
    color: #fff;
    border: none;
    height: 100%;
    width: 100%;
}


/* Productos Enlistados  */

.productos-enlistados{
    background: #c0c0c0;
    padding: 4%;
    margin: 2%;
    border-radius: 3px;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.productos-enlistados-descripcion{
    width: 95%;
    margin-right: 2%;
    text-align: justify;
} 

.productos-enlistados-descripcion strong{
    float: left;
}

.producto-enlistados{
    width: 20%;
}

.pedido-enlistar{
    width: 95%;
    padding: 5%;

    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pedido-enlistar button{
    background: #d86060;
    color: #fff;
    border: none;
    padding: 3%;
}  

/* ------------------ */