.pedido-tiket{
    display: none;
    background: #fff;
    position: fixed;
    top: 0;
    /* width: 100vw; */
    /* width: 360px; */
    width: 100%;
    height: calc(100% - 71px);
    z-index: 100;
    margin-top: 71px;
}

.Active{
    display: block;
}

.container-tiket{
    height: 99%;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabecera-tiket{
    background: #2F353A;
    color: #fff;
    width: 100%;
    min-height: 43px;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-tiket-scroll{
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.descripcion-tiket{
    width: 100%;
    height: 82px;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcion-tiket hr{
    width: 90%;
}

.total-limpiar{
    width: 90%;

    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-tiket{
    width: 40%;
    padding: 0.6em;

}

.limpiar-tiket{
    width: 40%;
    padding: 0.6em;
}

.limpiar-tiket button{
    background: #2F353A;
    border: none;
    color: #fff;
    padding: 0.3em;
}

.butt{
    width: 90%;
    height: 2.5em;
}

.button-tiket{
    background: #2F353A;
    color: #fff;
    border: none;
    height: 100%;
    width: 100%;
}


/* Productos Enlistados  */

.productos-enlistados{
    background: #c0c0c0;
    padding: 3.5%;
    margin: 2%;
    border-radius: 4px;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.productos-enlistados-descripcion{
    width: 95%;
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: justify;
}

.productos-enlistados-header{
    width: 95%;
    padding: 0.45em;

    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-enlistado strong{
    font-size: 1.3em;
    text-align: justify;
}

.delete-enlistado{
    width: 100%;
    text-align: right;
}

.delete-enlistado button{
    background: #d86060;
    color: #fff;
    border: none;
    padding: 0.4em;
}

.prod-list-precio-cantidad{
    width: 95%;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-cantidad{
    /* text-align: right; */
    min-width: 100px;
    width: 30%;
}

.button-cantidad input{
    width: 20%;
    padding: 0.2em; 
    text-align: center;
}

.button-cantidad button{
    background: #2F353A;
    color: #fff;
    width: 30%;
    padding: 0.2em;
    border: none;
}


/* ------------------ */